body{
    padding: 0;
    margin: 0 30px;
}

.area-outer{
    position: relative;
    margin: 0 15px;
    background-color: #dddddd;
}

.area-middle {
    margin: 0 30px;
    background-color: greenyellow;
}

.area-inner {
    margin: 0 50px;
    background-color: yellow;
}

p {
    background-color: #FF6F1E;
}
